body {
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.2;
}

h1 span {
    font-size: 15px;
}

.globalNavi {
    text-align: center;
    margin-bottom: 50px;
}

.globalNavi li {
    display: inline-block;
    margin-right: 40px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.globalNavi li:last-child {
    margin-right: 0px;
}

.mainImage {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.mainImage img {
    width: 100%;
    height: auto;
}

.aboutSection h2 {
    text-align: center;
    font-size: 11px;
}

.aboutSection h2 span {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid #000000;
}